.secciones {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cabecera {
  position: absolute;
  height: 10rem 10rem;
  top: 0;
  /* padding-top: 2rem; */
  background-color: pink
}
.cuerpoTexto div {
  top: 1rem;
  padding-top: 3em;
  background-color: green
}