/* * {
  box-sizing: border-box;
} */

.mensu {
  /* z-index: 500; */
  /* height: auto 3rem; */
  /* width: 100%; */
  /* max-width: calc(100% - 1px); */
  /* position: fixed; */
  /* top: 0px; */

  /* background-color: rgb(100, 175, 159); */
  display: flex;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  align-items: center;
  justify-content: flex-start;
}

.menu a{
  text-align: center;
  padding: 1rem 1rem;
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  /* padding: 1rem 1rem; */
  text-decoration: none;
  font-size: 1.5em;
  transition: 125ms;
}

.menu a:hover {
  /* background-color: #ddd; */
  color: rgb(73, 73, 73);
}

.derecha button{
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  position: absolute;
  padding: 0;
  margin: 0;
  top: calc(50% - 1.5rem);
  right: calc(1.5rem - 1vw);
  height: 3rem;
  /* width: 8rem; */
  background-color: #f2f2f2;
  color: rgb(73, 73, 73);
  transition: 125ms;
  display:flex;
  align-items: center;
  justify-content: center;
}

.derecha button:hover{
  background-color: #b6b6b6;
  color: rgb(33, 33, 33);
  border-color: #b6b6b6;
}

.derecha img{
  margin: 0.5rem;
  width: 2rem;
  border-radius: 10%;
}

.derecha p{
  padding-right: 0.5rem;
}

.agregar {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  background-color: rgb(100, 175, 159);
  width: 3rem;
  height: 3rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.agregarMas {
  font-size: 5em;
  line-height: 1em;       /* The same as your div height */
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.listo {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100%;
  background-color: rgb(100, 175, 159);
  width: 5em;
  height: 5em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.DOI {
  position: fixed;
  bottom: 7rem;
  right: 1rem;
  border-radius: 100%;
  background-color: rgb(100, 175, 159);
  width: 5rem;
  height: 5rem;
  display:flex;
  align-items: center;
  justify-content: center;

  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1rem;
  /* text-decoration: none; */
  font-size: 1.25rem;
  transition: 200ms;
  
}

.DOI p{
  font-size: 2em;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  
}