.menu {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(100, 175, 159);
  transition: 500ms;
  z-index: 3;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}

.menu a:hover {
  color: rgb(73, 73, 73);
  text-decoration: none;
}

.menu-secciones {
  display: flex;
  flex-direction: row;
  flex-basis: content;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.2em;
  flex-shrink: 0;
  justify-content: space-between;
}

.menu-secciones-izquierda{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

.menu-secciones-izquierda-links, .menu-secciones-derecha{
  text-align: center;
  text-decoration: none;
  color: #f2f2f2;
  transition: 500ms;
  align-items: center;
  display: flex;
  flex-basis: content;
}

.menu-secciones-derecha-boton {
  display: flex;
  padding: 0.5rem 0.5rem;
  gap: 0.5rem 0.5rem;
  background-color: #f2f2f2;
  border: 0;
  text-align: center;
  align-items: center;
  align-content: center;
}
.menu-secciones-derecha-boton:hover {
  background-color: rgb(204, 204, 204);
  color: rgb(73, 73, 73);
}
.menu-secciones-derecha-boton:active {
  background-color: rgb(143, 143, 143);
  color: #f2f2f2
}

.menu-secciones-derecha-boton-imagen {
  width: 1.5em;
  border-radius: 0.25rem;
}

.menu-desplegar {
  margin: 1em 0;
  text-decoration: none;
  width: 100%;
}

.checkbtn {
  font-size: 2rem;
  color: #f2f2f2;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
  transition: 200ms;
}

#check {
  display: none;
}


.derecha button{
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  position: absolute;
  padding: 0;
  margin: 0;
  top: calc(50% - 1.5rem);
  right: calc(1.5rem - 1vw);
  height: 3rem;
  /* width: 8rem; */
  background-color: #f2f2f2;
  color: rgb(73, 73, 73);
  transition: 125ms;
  display:flex;
  align-items: center;
  justify-content: center;
}

.derecha button:hover{
  background-color: #b6b6b6;
  color: rgb(33, 33, 33);
  border-color: #b6b6b6;
}

.derecha img{
  margin: 0.5rem;
  width: 2rem;
  border-radius: 10%;
}

.derecha p{
  padding-right: 0.5rem;
}

.menu-navegador{
  position: fixed;
  display: inline-block;
  bottom: 0.5rem;
  left: 0.5rem;
  border-radius: 50%;
  transition: 500ms;
}
.menu-navegador-boton{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 175, 159);
  color: #f2f2f2;
  padding: 1em;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: 200ms;
}
.menu-navegador-boton-contenido{
  display: none;
  position: absolute;
  text-decoration: none;
  background-color: #f1f1f1;
  bottom: 100%;
  left: 0;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 4;
}
.menu-navegador-boton-contenido a{
  color: black;
  padding: 1rem;
  text-decoration: none;
  display: block;
  transition: 200ms;
}
.menu-navegador-boton-contenido a:hover {
  background-color: #ddd;
}

.menu-navegador-boton-contenido a:active {
  background-color: rgb(100, 175, 159);
}

.menu-navegador:hover .menu-navegador-boton-contenido {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.fas.fa-bookmark{
  color: #f2f2f2;
  font-size: 1.25em;
  transition: 200ms;
}
.fas.fa-bookmark:hover{
  color: rgb(73, 73, 73);
  -webkit-tap-highlight-color: transparent;
}

.agregar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 100%;
  background-color: rgb(100, 175, 159);
  width: 3rem;
  height: 3rem;
}
.fas.fa-pen {
  color: #f2f2f2;
  font-size: 1.25em;
  transition: 200ms;
}

.fas.fa-pen:hover{
  color: rgb(73, 73, 73);
  -webkit-tap-highlight-color: transparent;
}

.listo {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: 100%;
  background-color: rgb(100, 175, 159);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fas.fa-check {
  color: #f2f2f2;
  font-size: 1.80em;
  transition: 200ms;
}
.fas.fa-check:hover{
  color: rgb(73, 73, 73);
  -webkit-tap-highlight-color: transparent;
}

.DOI {
  position: fixed;
  bottom: 7rem;
  right: 1rem;
  border-radius: 100%;
  background-color: rgb(100, 175, 159);
  width: 5rem;
  height: 5rem;
  display:flex;
  align-items: center;
  justify-content: center;

  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1rem;
  /* text-decoration: none; */
  font-size: 1.25rem;
  transition: 200ms;
}

.DOI p{
  font-size: 2em;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1380) {
  .menu-secciones {
    display: none;
  }
}

@media (max-width: 1200px) {
  .checkbtn {
    display: block;
  }

  .menu-desplegar {
    position: fixed;
    margin: 0;
    width: 70%;
    height: 100vh;
    background: rgb(100, 175, 159);
    top: 5rem;
    left: -100%;
    transition: ease-in-out 250ms;
    text-decoration: inherit;
  }
  .menu-secciones{
    display: block;
    line-height: 2.5em;
    text-decoration: inherit;
    text-align: left;
    width: 100%;
    margin: 1rem;
  }

  .menu-secciones-izquierda {
    display: block;
    line-height: 2.5em;
    text-decoration: inherit;
    text-align: left;
    flex-direction: column;
    align-items: left;
  }

  .menu-secciones-derecha {
    margin: 0;
    line-height: 2.5em;
    text-decoration: inherit;
    text-align: left;
    align-items: left;
  }

  .menu-secciones-derecha-boton {
    margin: 0;
  }

  .menu-secciones-izquierda-links {
    display: flex;
    text-align: left;
    align-items: left;
    text-decoration: none;
    color: #f2f2f2;
    transition: 500ms;
  }

  .checkbtn:hover {
    color: rgb(73, 73, 73);
  }
  
  #check:checked~.menu-desplegar {
    left: 0;
  }

  .menu-secciones:visited~.menu-desplegar{
    display: none;
  }

  .menu-navegador{
    bottom: 0.25rem;
    left: 0.25rem;
  }
  .agregar{
    bottom: 0.25rem;
    right: 0.25rem;
  }
  .listo{
    bottom: 0.25rem;
    right: 0.25rem;
  }
}
