* {
  box-sizing: border-box;
}
.menu {
  height: auto 3rem;
  width: 1920px;
  max-width: calc(100% - 1px);
  position: fixed;
  top: 0;

  background-color: rgb(100, 175, 159);
  overflow: hidden;
}

.menu a{
  /* text-align: center;
  padding: 0.5rem 1.5rem; */
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 1.25rem;
}

.menu a.active {
  /* background-color: #04AA6D; */
  color: rgb(73, 73, 73);
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.menu a:hover, .dropdown:hover .dropbtn{
  /* background-color: #ddd; */
  color: rgb(73, 73, 73);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.izquierda a{
  position: absolute;
  right: 0px;
  padding: 0 1.5rem;
}

.izquierda p{
  font-size: 1rem;
  margin: 0;
}

.izquierda img{
  position: absolute;
  right: 10rem;
  margin: 0 1rem 0 1rem;
  width: 3rem;
}









/* ------------------------------------------- */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
